
/*
  Style for the errors encountered while processing.
*/


/* At the error location */

.error {
    white-space: pre;
    border-bottom: 2px solid red;
}

.err_link {
    font-weight: bold;
    color: red;
}


/* Style for the full report at the bottom */

.err_reports {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
}

.err_report {
    border: 20px solid #faa;
}

.err_num {
    font-weight: bold;
    color: red;
}

.err_source {
    border-bottom: 3px solid black;
}

.err_source div {
    display: inline-block;
    white-space: pre;
}

.err_exception {
    padding: 5px;
    font-weight: bold;
}

.err_exception div {
    display: inline;
    white-space: pre;
}

.err_type {
    color: red;
}

.err_type:after {
    content: ":";
}

.err_traceback {
    white-space: pre;
    padding: 5px;
}

