

.post {
    margin-top: 10px;
    margin-bottom: 10px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.post .postbit {
    background-color: #eef;
}

/* .post.new .postbit { */
/*     background-color: #fcc; */
/* } */

/* .summary { */
/*     border-top: 4px solid #ccd; */
/*     padding: 5px; */
/* } */

.postbit {
    cursor: pointer;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    /* -webkit-box-orient: horizontal; */
    /* -moz-box-orient: horizontal; */
    /* box-orient: horizontal; */
    /* -webkit-box-align: center; */
    /* -moz-box-align: center; */
    /* box-align: center; */
}

.postbit:hover {
    background-color: #dde;
}

/* .new .postbit:hover { */
/*     background-color: #faa; */
/* } */

.postbit .year {
    font-size: 10pt;
    color: #888;
}

.postbit div {
    padding: 5px;
}

.postbit .tag, .postbit .category {
    font-size: 10pt;
}

.postbit .author, .postbit .date {
    color: #000;
}

.posttitle {
    /* font-family: 'Oswald', 'Trebuchet MS'; */
    color: #41727b;
    font-weight: bold;
}

/* .new .posttitle { */
/*     /\* font-family: 'Oswald', 'Trebuchet MS'; *\/ */
/*     color: #500; */
/*     font-weight: bold; */
/* } */

.latest .summary {
    opacity: 1;
    max-height: 500px;
}

.summary > div {
    padding: 5px;
}

.summary {
    overflow: auto;
    opacity: 0;
    max-height: 0;
    /* position: absolute; */
    background-color: #f8f8ff;
    -webkit-transition: opacity 0.5s ease-out 0.5s, max-height 0.5s ease-out 0.5s;
    -moz-transition: opacity 0.5s ease-out 0.5s, max-height 0.5s ease-out 0.5s;
    -ms-transition: opacity 0.5s ease-out 0.5s, max-height 0.5s ease-out 0.5s;
}

.summary:hover {
    background-color: #f5f5ff;
}

.post:hover .summary {
    opacity: 1;
    max-height: 500px;
    -webkit-transition: opacity 0.2s ease-in 0.3s, max-height 0.2s ease-in 0.3s;
}

.more {
    color: #888;
}

.more:before {
    content: "read more";
}


.columns {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.columns.imageleft > :nth-child(2) {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

